POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=datawarehouse
POSTGRES_HOST=
POSTGRES_PORT=5432

DBT_PROFILES_DIR=/usr/app/dbt
DBT_TARGET=dev

AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__FERNET_KEY=# [uv run --with cryptography python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"]
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__WEBSERVER__SECRET_KEY=# [uv run python -c "import secrets; print(secrets.token_urlsafe(32))"]
AIRFLOW_WWW_USER_USERNAME=admin
AIRFLOW_WWW_USER_PASSWORD=admin

BLS_API_KEY=# "b227..." (get at: https://data.bls.gov/registrationEngine/)